body{
  font-family: 'Courier New', Courier, monospace;
  background-color: aliceblue;
  padding: 4vh;
  color: rgb(45, 46, 53);
}

button{
  height: 4vh;
  width: 15vh;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  border: none;
}

button:hover,
button:focus {
  box-shadow: 0 .6px 3px 0 rgba(0, 0, 0, 0.19);
}


#resultsContainer{
  max-height: 50vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr) );
  gap: 10px;
  padding: 10px 0px;
  overflow: auto;
  background-color: aliceblue;
  margin-bottom: 2vh;
  
}

.header{
  border-top: 3px solid rgb(226, 236, 243);
  padding: 2vh 0px;

}

#favContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr) );
  gap: 10px;
  padding: 10px 0px;
  
}

.favContent{
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.favTxt{
  div{
    margin-bottom: 10px;
  }
}

#resultsStyles{
  background: #7FFFD4;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px;
  margin-bottom: 5px; 
  display: flex;
  button{
    background-color: white;
    border: none;
  }
  img{
    width: 15vh;
    margin-right: 20px;
  }
  div{
    margin-bottom: 10px;
  }
}



#resultContent{
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#favoritesStyles{
  background: #ae86de;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px;
  margin-bottom: 5px; 
  display: flex;
  flex-direction: row;

  img{
    width: 15vh;
    margin-right: 20px;
  }
}

#search{
  margin-bottom: 10px;
}

#search button{
  background-color: #7FFFD4;
  border: none;
}

input{
  height: 3vh;
  width: 25vh;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 10px;
}

#movieTicker{
  position: fixed;
  top:0;
  left:0;
  right:0;
  align-items: center;
  box-shadow: 0 .6px 3px 0 rgba(0, 0, 0, 0.19);
  



  #title{
    position: absolute;
    background-color: rgb(255, 240, 192);
    height: 100%;
    display: flex;
    align-items: top;
    padding: 0 5vh;
    z-index: 300;
  }
  ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    height: 100%;
    animation: scroll 60s infinite linear;
    background-color: aliceblue;
    text-align: center;
    display: flex;
    align-items: top;
  }
  ul li {
    height: 100%;
    white-space: nowrap;
    justify-content: center;
    padding: 0vh 5vh;
    background-color: aliceblue;

    
  }

  @keyframes scroll {
    from {
      transform: translateX(100%);
    }
    to{
      transform: translateX(-5200px);
    }
  }

  #cover{
    position: fixed;
    background-color: rgb(255, 240, 192);
    height: 100%;
    z-index: 100;

  }


}

// #main{
//   width: 500px ;
//   border-bottom: 1px solid rgb(45, 46, 53);
// }

// .aksii{
//   white-space: pre;

// }